.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.App-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.App-name {
  color: yellow;
  font-size: 35px;
  font-weight: bold;
  margin: 0; 
}

.App-title {
  color: yellow;
  font-size: 18px;
}


.line-breaks br {
  line-height: 1.5; 
}
